<div class="app-content-body ">
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
      <!-- main header -->
      <div class="bg-light lter b-b wrapper-md">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">Thêm Cửa Hàng</h1>
          </div>
        </div>
      </div>
      <div class="wrapper-md">

        <div class="row">

          <form method="POST" action="/main-shop/staff" enctype="multipart/form-data">

            <div class="col-sm-9 col-xs-12 col-md-10">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">Thêm</div>
                <div class="panel-body">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Tên nhân viên</label>
                      <input id="staff-name" type="text" name="name" class="form-control" placeholder="Nhập tên nhân viên">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Địa chỉ email</label>
                      <input id="staff-email" type="text" name="email" class="form-control" placeholder="Nhập email">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Mật khẩu</label>
                      <input id="staff-password" type="text" name="password" class="form-control" placeholder="Nhập mật khẩu">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Số CMND</label>
                      <input id="staff-Idcard" type="text" name="idcard" class="form-control" placeholder="Nhập CMND">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Ngày sinh</label>
                      <input id="staff-birthday" type="date" name="birthday" class="form-control" placeholder="Nhập ngày sinh">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Gới tính</label>
                      <select id="staff-sex" name="gender" class="form-control">
                        <option value="undefined">Chọn Giới tính</option>
                        <option value="male">Nam</option>
                        <option value="female">Nữ</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Vị trí</label>
                      <select id="staff-position" name="position" class="form-control">
                        <option value="undefined">Chọn vị trí</option>
                        <% positions.forEach((position)=>{%>
                          <option value="<%=position.id%>">
                            <%= position.name%>
                          </option>
                          <%}); %>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Số điện thoại</label>
                      <input id="staff-phone" type="text" name="phone" class="form-control" placeholder="Nhập số điện thoại">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Địa chỉ</label>
                      <input id="staff-address" type="text" name="address" class="form-control" placeholder="Nhập địa chỉ">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Trạng Thái</label>
                      <select id="staff-active" name="active" class="form-control">
                        <option value="undefined">Chọn chế độ</option>
                        <option value="on">Hoạt động</option>
                        <option value="off">Dừng</option>
                      </select>
                    </div>
                  </div>

                  <!-- <button type="button" (click)="addRoom()" class="btn btn-sm btn-primary">Thêm</button> -->
                </div>

                <div class="panel-footer">
                  <button type="submit" class="btn btn-primary btn-block">Thêm nhân viên</button>
                </div>

              </div>
            </div>

            <div class="col-sm-3 col-xs-12 col-md-2 staff-avatar-wapper">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">Ảnh Chủ Quán</div>
                <div class="panel-body">
                  <div class="staff-avatar" style="display: block; text-align: center;">
                    <img id="blah" src="" style="width: 100%" />
                    <!-- <img *ngIf="staff_avatar != ''" [src]="folder_avatar + staff_avatar" style="width: 100%" /> -->
                    <label class="btn btn-default btn-file" style="margin-top: 17px">
                      Chọn ảnh
                      <input id="imgInp" type="file" multiple="multiple" name="photo" style="display: none;" accept="image/png, image/jpeg" />
                    </label>
                  </div>
                </div>
              </div>
            </div>



          </form>

        </div>

        <!-- / main -->
      </div>
    </div>

    <!--Show Image after upload before "Submit"-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      function readURL(input) {

        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
          }

          reader.readAsDataURL(input.files[0]);
        }
      }

      $("#imgInp").change(function () {
        readURL(this);
      });

    </script>
