<!DOCTYPE html>
<html>

<head>
    <title>Coffee Chain</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/libs/assets/animate.css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/libs/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/libs/assets/simple-line-icons/css/simple-line-icons.css" type="text/css" />
    <link rel="stylesheet" href="/libs/jquery/bootstrap/dist/css/bootstrap.css" type="text/css" />

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/font.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/sell.css">
    <!--STYLES END-->
</head>

<body>
    <%- body %>


        <script src="/libs/jquery/jquery/dist/jquery.js"></script>
        <script src="/libs/jquery/bootstrap/dist/js/bootstrap.js"></script>
        <!--SCRIPTS-->
        <script src="/dependencies/sails.io.js"></script>
        <script src="/js/ui-client.js"></script>
        <script src="/js/ui-jp.config.js"></script>
        <script src="/js/ui-jp.js"></script>
        <script src="/js/ui-load.js"></script>
        <script src="/js/ui-nav.js"></script>
        <script src="/js/ui-toggle.js"></script>
        <!--SCRIPTS END-->
</body>

</html>