<!--banner-->
<div class="banner-top">
    <div class="container">
        <h2 class="animated wow fadeInLeft" data-wow-delay=".5s">COFFEE CHAIN</h2>
        <h3 class="animated wow fadeInRight" data-wow-delay=".5s">
            <a href="/main">Home</a>
            <div class="clearfix"> </div>
    </div>
</div>
<!--content-->
<div class="product">
    <div class="container">
        <div class="col-md-3 product-bottom">

            <!---->
        </div>
        <div class="col-md-9 animated wow fadeInRight" data-wow-delay=".5s">

            <div class="mid-popular">

                    <div class="col-sm-4 item-grid item-gr  simpleCart_shelfItem">
                        <div class="grid-pro">
                            <div class=" grid-product ">
                                <figure>
                                    <a href="">
                                        <div class="grid-img">
                                            <img src="" style="width: 190px; height: 190px; " class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                            <div class="women">
                                <h6>
                                    <a>Profile</a>
                                </h6>
                                <p>
                                    <del></del>
                                    <em class="item_price"></em>
                                </p>
                                <a href="/main-customer/profile" data-text="Choose" class="but-hover1 item_add">Choose</a>
                            </div>
                        </div>
                    </div>
            </div>


        </div class="clearfix">
    </div>
</div>
</div>
<!--//products-->

<div class="social animated wow fadeInUp" data-wow-delay=".1s">
    <div class="container">
        <div class="col-sm-3 social-ic">
            <a href="#">FACEBOOK</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">TWITTER</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">GOOGLE+</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">PINTEREST</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>