<!--banner-->
<div class="banner-top">
    <div class="container">
        <h2 class="animated wow fadeInLeft" data-wow-delay=".5s">Profile</h2>
        <h3 class="animated wow fadeInRight" data-wow-delay=".5s">
            <a href="/main-customer">MAIN</a>
            <label>/</label>PROFILE</h3>
        <div class="clearfix"></div>
    </div>
</div>
<!--content-->
<div class="product">
    <div class="container">
        <div class="col-md-3 product-bottom ">

        </div>
        <div class="col-md-9 animated wow fadeInRight" data-wow-delay=".5s">
            <div class="col-md-5 grid-im">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="images/si.jpg">
                            <div class="thumb-image">
                                <img src="https://i.imgur.com/jNNT4LE.jpg" style="width: 100%" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 single-top-in">

                <h3>Profile</h3>
                <p class="in-para"> Name:</p>
                <p class="in-para"> Birtday:</p>
                <p class="in-para"> Phone</p>
                <p class="in-para"> Email:</p>
                <p class="in-para"> Gander:</p>

            </div>
        </div class="clearfix">
    </div>
</div>
</div>
<!--//products-->
<div class="social animated wow fadeInUp" data-wow-delay=".1s">
    <div class="container">
        <div class="col-sm-3 social-ic">
            <a href="#">FACEBOOK</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">TWITTER</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">GOOGLE+</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">PINTEREST</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>