<div class="banner-top">
    <div class="container">
        <h2 class="animated wow fadeInLeft" data-wow-delay=".5s">RATE</h2>
        <h3 class="animated wow fadeInRight" data-wow-delay=".5s">
            <a href="/main-customer">MAIN</a>
            <label>/</label>RATE</h3>
        <div class="clearfix"></div>
    </div>
</div>
<!-- contact -->
<div class="contact">
    <div class="container">


        <div class="col-md-8 contact-grids1 animated wow fadeInRight" data-wow-delay=".5s">
            <h1>Give me your feedback about shop</h1>
            <form method="POST" action="/rate">
                <div class="contact-form2">
                    <h4>ID Bill</h4>

                    <input type="text" placeholder="" name="idbill">

                </div>
                <h4>Star(5/5)</h4>
                <select name="star"> 
                    <option value="1"> 1</option>
                    <option value="2"> 2</option>
                    <option value="3"> 3 </option>
                    <option value="4"> 4 </option>
                    <option value="5"> 5 </option>
                </select>


                <div class="contact-me ">
                    <h4>Feedback</h4>

                    <textarea type="text" placeholder="" name="feedback"> </textarea>
                </div>
                <input type="submit" value="Submit">
            </form>

        </div>

        <div class="col-md-4 contact-grids">
            <div class=" contact-grid animated wow fadeInLeft" data-wow-delay=".5s">
                <div class="contact-grid1">
                    <div class="contact-grid2 ">
                        <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="contact-grid3">
                        <h4>Address</h4>
                        <p>12K Street, 45 Building Road
                            <span>New York City.</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class=" contact-grid animated wow fadeInUp" data-wow-delay=".5s">
                <div class="contact-grid1">
                    <div class="contact-grid2 contact-grid4">
                        <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                    </div>
                    <div class="contact-grid3">
                        <h4>Call Us</h4>
                        <p>+1234 758 839
                            <span>+1273 748 730</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class=" contact-grid animated wow fadeInRight" data-wow-delay=".5s">
                <div class="contact-grid1">
                    <div class="contact-grid2 contact-grid5">
                        <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="contact-grid3">
                        <h4>Email</h4>
                        <p>
                            <a href="contactto:info@example.com">info@example1.com</a>
                            <span>
                                <a href="contactto:info@example.com">info@example2.com</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="map">
    <iframe class="animated wow fadeInLeft" data-wow-delay=".5s" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.9579945977393!2d-73.87657738464283!3d40.806916839740346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f510a78ff341%3A0xe5b1e682c2e91238!2sNYS+Agriculture+%26+Markets!5e0!3m2!1sen!2sin!4v1456403781501"
        frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!-- //contact -->
<div class="social animated wow fadeInUp" data-wow-delay=".1s">
    <div class="container">
        <div class="col-sm-3 social-ic">
            <a href="#">FACEBOOK</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">TWITTER</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">GOOGLE+</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">PINTEREST</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>