<div class="banner-top">
    <div class="container">
        <h2 class="animated wow fadeInLeft" data-wow-delay=".5s">Register</h2>
        <h3 class="animated wow fadeInRight" data-wow-delay=".5s">
            <a href="/">Home</a>
            <label>/</label>Register</h3>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- contact -->
<div class="login">
    <div class="container">
        <form>
            <div class="col-md-6 login-do1 animated wow fadeInLeft" data-wow-delay=".5s">
                <div class="login-mail">
                    <input type="text" placeholder="Email" required="">
                    <i class="glyphicon glyphicon-envelope"></i>
                </div>
                <div class="login-mail">
                    <input type="password" placeholder="Password" required="">
                    <i class="glyphicon glyphicon-lock"></i>
                </div>
                <div class="login-mail">
                    <input type="password" placeholder="Repeated password" required="">
                    <i class="glyphicon glyphicon-lock"></i>
                </div>
                <a class="news-letter" href="#">
                    <label class="checkbox1">
                        <input type="checkbox" name="checkbox">
                        <i> </i>I agree with the terms</label>
                </a>

            </div>
            <div class="col-md-6 login-do animated wow fadeInRight" data-wow-delay=".5s">
                <label class="hvr-sweep-to-top login-sub">
                    <input type="submit" value="Submit">
                </label>
                <p>Already register</p>
                <a href="login.html" class="hvr-sweep-to-top">Login</a>
            </div>
            <div class="clearfix"> </div>
        </form>
    </div>


</div>
<div class="social animated wow fadeInUp" data-wow-delay=".1s">
    <div class="container">
        <div class="col-sm-3 social-ic">
            <a href="#">FACEBOOK</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">TWITTER</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">GOOGLE+</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">PINTEREST</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>