<div class="site-branding-area ">
    <div class="container" style="height: 50px">
        <div class="row">
            <div class="col-sm-6" style=" height: 90px ">
                <div class="logo">
                    <h1>
                        <a href="">
                            <span>Ask me</span>
                        </a>
                    </h1>
                </div>
            </div>
            <div class="col-sm-6" style=" height: 90px ">

            </div>
        </div>
    </div>
</div>
<div class="slider-area" style="height: 700px;">
    <div class="zigzag-bottom"></div>
    <div id="slide-list" class="carousel carousel-fade slide" data-ride="carousel">

        <div class="slide-bulletz">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="carousel-indicators slide-indicators">
                            <li data-target="#slide-list" data-slide-to="0" class="active"></li>
                            <li data-target="#slide-list" data-slide-to="1"></li>
                            <li data-target="#slide-list" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="single-slide">
                    <div class="slide-bg slide-one"></div>
                    <div class="slide-text-wrapper">
                        <div class="slide-text">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-6">
                                        <div class="slide-content">
                                            <h2>We are awesome</h2>
                                            <p>You don't know how much you have a question for someone</p>

                                            <a href="/login" class="readmore">Log In</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-slide">
                    <div class="slide-bg slide-two"></div>
                    <div class="slide-text-wrapper">
                        <div class="slide-text">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-6">
                                        <div class="slide-content">
                                            <h2>Confession</h2>
                                            <p>confession is have happy</p>
                                            <a href="" class="readmore">Log In</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-slide">
                    <div class="slide-bg slide-three"></div>
                    <div class="slide-text-wrapper">
                        <div class="slide-text">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-6">
                                        <div class="slide-content">
                                            <h2>Many Question</h2>
                                            <p>You have a question with some one</p>

                                            <a href="" class="readmore">Log In</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="footer-bottom-area" style="height: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright">
                    <p>&copy; Team NodeJs2
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footer-card-icon">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End footer bottom area -->