<!-- header -->
<div class="header">

    <div class="container">
        <div class="logo-nav">

            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand logo-nav-left ">
                        <h1 class="animated wow pulse" data-wow-delay=".5s">
                            <a href=""> Coffee
                                <span>Chain</span>
                            </a>
                        </h1>
                    </div>

                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/login-customer" class="act">Login Customer</a>
                        </li>
                        <!-- Mega Menu -->
                        <li>
                            <a href="/login"> Login System</a>
                        </li>
                        <li>
                            <a href="">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- //header -->


<!-- banner -->
<div class="banner">
    <div class="col-md-5 col-md1 animated wow fadeInLeft" data-wow-delay=".1s">
        <div class="col-3">
            <a href="">
                <img src="" class="img-responsive " alt="">
                <div class="col-pic">
                    <h5> Solution</h5>
                    <p>for managing system coffee</p>
                </div>
            </a>
        </div>
    </div>

</div>
<!-- //banner -->
<!--content-->
<div class="content">
    <div class="content-head">

        <div class="col-md-6 col-m1 animated wow fadeInLeft" data-wow-delay=".1s">
            <div class="col-1">
                <div class="col-md-6 col-2">
                    <a href="">
                        <img src="images/pi2.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-p">
                    <h5>For All Customer</h5>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                        atque
                    </p>
                    <a href="" class="shop" data-hover="Shop Now">Detail</a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-1">
                <div class="col-md-6 col-p">
                    <h5>Many Shop Belive Us</h5>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                        atque
                    </p>
                    <a href="" class="shop" data-hover="Shop Now">Detail</a>
                </div>
                <div class="col-md-6 col-2">
                    <a href="">
                        <img src="images/pi1.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="col-md-6 col-m2 animated wow fadeInRight" data-wow-delay=".1s">

            <!---->
            <!-- requried-jsfiles-for owl -->
            <link href="styles/owl.carousel.css" rel="stylesheet">
            <script src="js/owl.carousel.js"></script>
            <script>
                $(document).ready(function () {
                    $("#owl-demo").owlCarousel({
                        items: 2,
                        lazyLoad: false,
                        autoPlay: true,
                        navigation: true,
                        navigationText: true,
                        pagination: false,
                    });
                });
            </script>
            <!-- //requried-jsfiles-for owl -->
            <!-- start content_slider -->
            <div id="owl-demo" class="owl-carousel">
                <div class="item">

                    <a href="">
                        <img class="img-responsive" src="images/bb.jpg" alt="" / </a>
                </div>
                <div class="item">

                    <a href="">
                        <img class="img-responsive" src="images/bb1.jpg" alt="" />
                    </a>
                </div>

                <div class="item">

                    <a href="">
                        <img class="img-responsive" src="images/bb2.jpg" alt="" /> </a>
                </div>
                <div class="item">

                    <a href="">
                        <img class="img-responsive" src="images/bb3.jpg" alt="" />
                    </a>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!---->

<div class="content-top">
</div>
<!----->
<!---->
<div class="content-top">

</div>


<!--products-->
<div class="social animated wow fadeInDown" data-wow-delay=".1s">
    <div class="container">
        <div class="col-sm-3 social-ic">
            <a href="#">FACEBOOK</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">TWITTER</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">GOOGLE+</a>
        </div>
        <div class="col-sm-3 social-ic">
            <a href="#">PINTEREST</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="col-md-9 footer-top1">
                <h4>Duis aute irure dolor in reprehenderit in voluptate </h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.Excepteur sint occaecat cupidatat non proident
                    Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
            </div>
            <div class="col-md-3 footer-top2">
                <a href="contact.html">Contact Us</a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="footer-grids">
            <div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".5s">
                <h3>About Us</h3>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.
                    <span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</span>
                </p>
            </div>
            <div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".6s">
                <h3>Contact Info</h3>
                <ul>
                    <li>
                        <i class="glyphicon glyphicon-map-marker"></i>1234k Avenue, 4th block,
                        <span>New York City.</span>
                    </li>
                    <li class="foot-mid">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <a href="mailto:info@example.com">info@example.com</a>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-earphone"></i>+1234 567 567</li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".7s">
                <h3>Sign up for newsletter </h3>
                <form>
                    <input type="text" placeholder="Email" required="">
                    <input type="submit" value="Submit">
                </form>

            </div>

            <div class="clearfix"> </div>
        </div>

        <div class="copy-right animated wow fadeInUp" data-wow-delay=".5s">
            <p>Team NodeJs 2 | Design by
                <a href="https://www.facebook.com/TanNguyen2803">Nhat Tan</a>
            </p>
        </div>
    </div>
</div>