<div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main -->
        <div class="col">
            <!-- main header -->
            <div class="bg-light lter b-b wrapper-md">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <h1 class="m-n font-thin h3 text-black">Thêm tài khoản</h1>
                    </div>
                </div>
            </div>
            <div class="wrapper-md">
                <div class="row">
                    <div class="col-sm-3 col-xs-12 col-md-2 boss-avatar-wapper">
                        <div class="panel panel-default">
                            <div class="panel-heading font-bold">Ảnh Chủ Quán</div>
                            <div class="panel-body">
                                <div class="boss-avatar" style="display: block; text-align: center;">
                                    <img  src="https://i.imgur.com/jNNT4LE.jpg" style="width: 100%" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-12 col-md-10">
                        <div class="panel panel-default">
                            <div class="panel-heading font-bold">Thêm</div>
                            <div class="panel-body">
                                <form role="form" id="addBoss" method="POST" action="/admin/newboss" enctype="multipart/form-data">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Tên chủ quán</label>
                                            <input  type="text" name="name" class="form-control" placeholder="Nhập tên của chủ quán">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Địa chỉ email</label>
                                            <input  type="email" name="email" class="form-control" placeholder="Nhập email">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Mật khẩu</label>
                                            <input  type="text" name="password" class="form-control" placeholder="Nhập mật khẩu">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>CMND</label>
                                            <input  type="text" name="idCard" class="form-control" placeholder="Nhập CMND">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Chủ Quán</label>
                                            <select name="shops" class="form-control">
                                                <option value="undefined">Chọn quán</option>
                                                <%found.forEach((shop)=>{%>
                                                    <option value="<%=shop.id%>">
                                                        <%=shop.name%>
                                                    </option>
                                                    <%});%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Ngày sinh</label>
                                            <input  name="birthday" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Gới tính</label>
                                            <select name="gender" class="form-control">
                                                <option value="undefined">Chọn Giới tính</option>
                                                <option value="male">Nam</option>
                                                <option value="female">Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Số điện thoại</label>
                                            <input  type="text" name="phone" class="form-control" placeholder="Nhập số điện thoại">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Địa chỉ</label>
                                            <input  type="text" name="address" class="form-control" placeholder="Nhập địa chỉ">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Trạng Thái</label>
                                            <select  name="active" class="form-control">
                                                <option value="undefined">Chọn chế độ</option>
                                                <option value="on">Hoạt động</option>
                                                <option value="off">Dừng</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Chọn ảnh</label>
                                            <input  class="form-control" name="photo" type="file" accept=".jpg, .jpeg, .png" >
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-primary btn-block" type="submit" form="addBoss">Thêm tài khoản</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / main -->
            </div>
        </div>